<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime stamp:</strong>
  <%= @page_load.datetime_stamp %>
</p>

<%= link_to 'Edit', edit_page_load_path(@page_load) %> |
<%= link_to 'Back', page_loads_path %>
