// Place all the styles related to the PageLoads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
    color: #F67C1C;
}

.container {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 30px;
    margin: 60px auto 0;
    max-width: 500px;
    background-color: #E4E5E6;
}
